@use '../../assets/styles/base/variables' as *;

.about {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 0;

  &__content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    p {
      margin-bottom: 1.5rem;
      color: $dark-text-color;
      font-size: $font-size-lg;
    }
    strong {
      color: $accent-color;
      font-weight: 500;
    }
    .button {
      margin-top: 1rem;
    }
  }

  &__image-container {
    position: relative;
    max-width: 300px;
    
    @media (max-width: 768px) {
      margin: 50px auto 0;
    }
  }

  &__image-wrapper {
    display: block;
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    background-color: $accent-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      border: 2px solid $accent-color;
      border-radius: $border-radius;
      z-index: -1;
      transition: all $transition-speed ease;
    }

    &:hover::after {
      top: 10px;
      left: 10px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    border-radius: $border-radius;
  

    &:hover {
      mix-blend-mode: normal;
      filter: none;
    }
  }
}