@use '../base/variables' as *;

.card {
  background-color: $light-bg-color;
  border-radius: $border-radius;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  transition: transform $transition-speed ease, box-shadow $transition-speed ease;

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: $white-color;
  }

  &__description {
    flex-grow: 1;
    margin-bottom: 1.5rem;
    color: $dark-text-color;
    font-size: 1rem;
  }

  &__tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  &__tag {
    background-color: rgba($accent-color, 0.1);
    color: $accent-color;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: $font-family-mono;
  }

  &__links {
    display: flex;
    gap: 1rem;
    margin-top: auto;
  }
}