@use '../../assets/styles/base/variables' as *;

.social-sidebar {
  position: fixed;
  bottom: 0;
  left: 40px;
  width: 40px;
  z-index: 100;

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: $dark-text-color;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  a {
    font-size: 1.25rem;
    color: $dark-text-color;
    transition: all $transition-speed ease;
    display: inline-block;

    &:hover {
      color: $accent-color;
      transform: translateY(-3px);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}