@use '../../assets/styles/base/variables' as *;

.projects {
  
  padding: 100px 0;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;

  // Layout por defecto (imagen a la izquierda)
  &__image-container {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    position: relative;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);

    @media (max-width: 768px) {
      grid-column: 1 / -1;
      height: 100%;
      opacity: 0.25;
    }
  }

  &__content {
    grid-column: 7 / -1;
    grid-row: 1 / 2;
    text-align: right;
    z-index: 2;

    @media (max-width: 768px) {
      grid-column: 1 / -1;
      padding: 40px;
      text-align: left;
    }
  }

  // Layout alternado (imagen a la derecha)
  &--reversed {
    .project__image-container {
      grid-column: 6 / -1;
      @media (max-width: 768px) { grid-column: 1 / -1; }
    }

    .project__content {
      grid-column: 1 / 7;
      text-align: left;
      @media (max-width: 768px) { grid-column: 1 / -1; }
    }
  }

  // Estilos de los elementos internos
  &__image {
    width: 100%;
    display: block;
    border-radius: $border-radius;
    filter: grayscale(80%) contrast(1) brightness(80%);
    transition: all $transition-speed ease;

    &:hover {
      filter: none;
    }
  }

  &__featured {
    font-family: $font-family-mono;
    color: $accent-color;
    font-size: $font-size-sm;
  }

  &__title {
    font-size: 1.75rem;
    color: $white-color;
    margin-bottom: 1.5rem;
  }

  &__description {
    background-color: $light-bg-color;
    padding: 1.5rem;
    border-radius: $border-radius;
    color: $dark-text-color;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  }

  &__tags {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: inherit;
    font-family: $font-family-mono;
    color: $dark-text-color;
    font-size: $font-size-sm;
  }

  &__links {
    display: flex;
    gap: 1.5rem;
    justify-content: inherit;
    font-size: 1.5rem;
    
    a {
      color: $dark-text-color;
      transition: color $transition-speed ease;
      &:hover {
        color: $accent-color;
      }
    }
  }
}