// src/components/Skills/Skills.scss
@use '../../assets/styles/base/variables' as *;

.skills {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 0;

  &__intro {
    color: $dark-text-color;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 300px));
    gap: 10px 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    li {
      position: relative;
      padding-left: 20px;
      font-family: $font-family-mono;
      font-size: $font-size-sm;
      color: $dark-text-color;

      .skill__icon {
        position: absolute;
        left: 0;
        top: 4px;
        color: $accent-color;
        font-size: 0.9rem;
      }
    }
  }
}