@use '../base/variables' as *;

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border-radius: $border-radius;
  font-family: $font-family-headings;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all $transition-speed ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba($primary-color, 0.2);
  }

  // Modificador --primary (botón principal)
  &--primary {
    background-color: $primary-color;
    color: $white-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color-dark;
      border-color: $primary-color-dark;
    }
  }

  // Modificador --secondary (botón secundario)
  &--secondary {
    background-color: transparent;
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}