@use '../base/variables' as *;

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border-radius: $border-radius;
  font-family: $font-family-headings;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all $transition-speed ease;

  &:hover {
    transform: translateY(-3px);
  }

  // Modificador --primary (botón principal)
  &--primary {
    background-color: $accent-color;
    color: $bg-color; // Texto oscuro sobre fondo de acento
    border-color: $accent-color;

    &:hover {
      background-color: $accent-color-dark;
      border-color: $accent-color-dark;
    }
  }

  // Modificador --secondary (botón secundario, estilo "fantasma")
  &--secondary {
    background-color: transparent;
    color: $accent-color;
    border-color: $accent-color;

    &:hover {
      background-color: rgba($accent-color, 0.1); // Relleno sutil al pasar el mouse
    }
  }
}