@use '../base/variables' as *;

.card {
  background-color: $white-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform $transition-speed ease, box-shadow $transition-speed ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: $dark-color;
  }

  &__description {
    flex-grow: 1;
    margin-bottom: 1.5rem;
    color: $light-text-color;
    font-size: 1rem;
  }

  &__tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  &__tag {
    background-color: $light-gray;
    color: $text-color;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__links {
    display: flex;
    gap: 1rem;
    margin-top: auto; // Empuja los botones al final de la tarjeta
  }
}