@use '../../assets/styles/base/variables' as *;


.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: $header-height 1.5rem 2rem;
  background-color: $light-gray;

  &__container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: clamp(2.5rem, 8vw, 4.5rem); // Tipografía fluida
    font-weight: 700;
    margin-bottom: 1rem;
    color: $dark-color;
  }

  &__name {
    // Usamos un gradiente para un efecto más moderno
    background: linear-gradient(90deg, $primary-color, $primary-color-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__subtitle {
    font-size: $font-size-lg;
    color: $light-text-color;
    margin: 0 auto 2.5rem auto;
    max-width: 700px;
    font-weight: 400;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}