@use '../../assets/styles/base/variables' as *;

.contact {
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    // Para que el título numerado también se centre
    justify-content: center;
    &::after {
      display: none; // No queremos la línea en esta sección
    }
  }

  &__tagline {
    font-family: $font-family-mono;
    color: $accent-color;
    font-size: $font-size-base;
    margin-bottom: 1rem;
  }

  &__text {
    color: $dark-text-color;
    margin-bottom: 3rem;
  }

  &__button {
    font-size: $font-size-base;
    padding: 1.25rem 2.5rem;
  }
}