@use '../../assets/styles/base/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  // Efecto Glassmorphism sobre fondo oscuro
  background-color: rgba($bg-color, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  box-shadow: 0 10px 30px -10px rgba(0,0,0,0.7);
  z-index: 1000;
  transition: top $transition-speed ease; // Para un efecto de ocultar/mostrar (futuro)

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  &__logo {
    font-family: $font-family-headings;
    font-weight: 700;
    font-size: 1.75rem;
    color: $accent-color; // Logo con color de acento
    text-decoration: none;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    padding: 0;
  }

  &__nav-link {
    font-family: $font-family-headings;
    font-size: 1rem;
    color: $text-color; // Texto principal
    font-weight: 500;
    text-decoration: none;
    transition: color $transition-speed ease;
    
    &:hover {
      color: $accent-color;
    }
  }

  .button {
    font-size: 0.9rem;
    padding: 0.5rem 1.25rem;
  }
}