// Base styles
@use 'base/reset';
@use 'base/typography';

// Layout
@use 'layout/grid';
@use 'layout/navigation';

// Components
@use 'components/header';
@use 'components/button';
@use 'components/card';

// Importa los estilos de los componentes específicos de la página
// Es buena práctica importarlos después de los globales/reutilizables
@use '../../components/Projects/Projects.scss';
@use '../../components/Contact/Contact.scss';