// 1. MÓDULOS DE SASS (DEBEN IR PRIMERO)
@use 'base/variables';
@use 'base/reset';
@use 'base/typography';
@use 'layout/grid';
@use 'layout/sections';
@use 'layout/layout';
@use 'components/button';
@use 'components/card';

// 2. DEPENDENCIAS EXTERNAS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); // Para la fuente monoespaciada

// main.scss

// ... tus @use ...

// --- PARCHE DE SEGURIDAD GLOBAL ---
html, body {
  width: 100%;
  max-width: 100vw;       /* El ancho máximo es la ventana */
  overflow-x: hidden;     /* Ocultar scroll horizontal */
  margin: 0;
  padding: 0;
}

/* Evitar que imágenes grandes rompan el móvil */
img, video, svg {
  max-width: 100%;
  height: auto;
}