// src/assets/styles/base/_typography.scss

@use 'variables' as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body {
  font-family: $font-family-body;
  font-weight: 400;
  color: $text-color;
  
  // -- NUEVO FONDO ANIMADO --
  background: linear-gradient(-45deg, #0a192f, #112240, #0a192f);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

// Keyframes para la animación del gradiente
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: 700;
  color: $white-color; // Títulos en blanco más puro
  line-height: 1.3;
}