// Paleta de Colores
$primary-color: #007bff;
$primary-color-dark: #0056b3;
$dark-color: #1a202c;
$text-color: #333333;
$light-text-color: #555;
$light-gray: #f4f7f6;
$white-color: #ffffff;
$border-color: #ddd;

// Tipografía
$font-family-headings: 'Poppins', sans-serif;
$font-family-body: 'Roboto', sans-serif;
$font-size-lg: 1.25rem;

// Layout
$container-width: 1200px;
$header-height: 70px;

// Otros
$border-radius: 8px;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
$transition-speed: 0.3s;